body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  height: 3.5vw;
  background-color: #8c99a6;
  box-shadow: 0 0.3rem 0.5rem #708090;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  font-size: 2.5vw;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  text-shadow: 1px 1px 15px #4d4d4d;
}
.header-logo {
  margin-left: 5vw;
}
li {
  list-style-type: none;
  margin: auto;
}
.mainView {
  width: 96vw;
  background-color: #e6e6e6;
  box-shadow: 0 0.3rem 0.5rem #708090;
}
.input-field {
  width: 80vw;
  display: flex;
  margin: 1.5vw auto 1.5vw auto;
}
.input-field button {
  width: 12vw;
  font-weight: bold;
}
.content {
  display: flex;
  text-align: center;
  justify-content: center;
}
.stars {
  display:flex;
  margin: 1vw;
}
.red {
  color: lightcoral;
}
table {
  width: 80vw !important;
}
tr {
  text-align: left;
}
.form-control {
  margin: 0.1vw;
}